<h1>Greetings#goodbye</h1>
<p>You know what GOOD BYE RIGHT BECAUSE I NEVER LIKED YOU!!!!!. If you changed your mind because you want to get your opportunity you have really waited for you can come back and lets say <%= link_to "hello", greetings_hello_path%> </p>
