<h1>Greetings#hello</h1>
<p>I'm so sorry that I didnt introduce myself.I am Andrews and if you don't like me because I did not introduce myself then <%=link_to "bye bye",greetings_goodbye_path%><br />
<%=@time%>
</p>
